/*  your css code here. If applicable */
div{
	background-color: lightblue;
	width: 300px;
	height: 300px;
	border: 2px solid black;

	position:absolute;
	top:50%;
	left:50%;
	margin-top:-50px; /* this is half the height of your div*/  
	margin-left:-100px
}
p{
	color: purple;
	font-size: 25px;
	text-align: center;
	padding-top: 110px;
}